div.stars {
    margin-top:30px;
    width: 270px;
    display: inline-block;
}

input.star { display: none; }


img.raiting {
    height: 25px;
    width: 25px;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    transition: all .3s;
}

label.star:hover { transform: rotate(25deg) scale(1.5); }