#background{
    overflow: visible;
    background: cadetblue repeat;
    min-height: 800px;
    min-width: 1300px;
}
#main_container{
    overflow: visible;
    min-height: 800px;
    min-width: 1300px;
    width: 100%;
    height: 100%;
}
div.aa1{
    opacity: 1;
}
div.aa2{
    opacity: 0.2;
}
/**/
div.container{
    overflow: hidden;

}
.content{
    overflow: hidden;
    width: 70%;
    min-width: 800px;
    min-height: 800px;
    float: left;
}
.side_bar{
    width: 30%;
    min-height: 540px;
    margin-left: 70%;
}
.result_list{
    /*position: absolute;*/
    margin-bottom: 10%;
}